   
<%- include("../partials/header") %>


<section class="blogs section">

    <div class="blogs__container container grid">
        <h4 class="section__title">Blogs</h4>
        <span class="section__subtitle">All blogs</span>

        <ul>
            <% blogs.forEach(blog => { %>
                <a href="/blogs/<%= blog._id %>"><li><%= blog.name %></li></a>
            <% }) %>
        </ul>

        <div class="goback__buttons">
            <a href="/blogs/new" class="button button--flex">
                New Blog
            </a>
        </div>
        
      </div>
    </div>
</section>



<%- include("../partials/footer") %>