<%- include("../partials/header") %>

<section class="section">

    <div class="container grid">

    <form action="/blogs" class="contact__form grid" method="post">
        <div class="contact__inputs grid">
            <div class="contact__content">
                <label for="name" class="contact__label">Name</label>
                <input type="text" name="blog[name]" class="contact__input" required>
            </div>
            <div class="contact__content">
                <label for="title" class="contact__label">Blog Title</label>
                <input type="text" name="blog[title]" class="contact__input" required>
            </div>
        </div>
        <div class="contact__content">
            <label for="message" class="contact__label">Body</label>
            <textarea name="blog[body]" id="" cols="0" rows="7" class="contact__input" required></textarea>
        </div>

        <div>
            <button type="submit" class="button button--flex">
                Add Blog
            </button>
        </div>
    </form>

        </div>


    
</section>
    <%- include("../partials/footer") %>