<%- include("../partials/blogs-header") %>

<div class="container mt-5">
    

    <form action="/blogs" method="POST">

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="blog[name]">
          </div>
          
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="blog[title]">
          </div>

          <div class="mb-3">
            <label for="body" class="form-label">Example textarea</label>
            <textarea class="form-control" id="body" name="blog[body]" rows="5"></textarea>
          </div>

        <button class="btn btn-success">Add Blog</button>

    </form>

</div>

    <%- include("../partials/blogs-footer") %>