    <!--==================== FOOTER ====================-->
    <footer class="footer">
        

    </footer>


    <!--==================== MAIN JS ====================-->
    <script src="/js/blogs-main.js"></script>
</body>

</html>