
    
<%- include("partials/header") %>


<section class="notfound section">

    <div class="notfound__container container grid">
        <h4 class="section__title">Thank you <%= name %>!</h4>
        <span class="section__subtitle">I will be in touch with you shortly. :)</span>

        <div class="goback__buttons">
            <a href="/" class="button button--flex">
                Go to main page
            </a>
        </div>
        
      </div>
    </div>
</section>


<%- include("partials/footer") %>