<%- include("partials/header") %>

<section class="notfound section">

    <div class="notfound__container container grid">
        <h4 class="section__title">Sorry! Page not found.</h4>

        <div class="goback__buttons">
            <a href="/" class="button button--flex">
                Go Back
            </a>
        </div>
        
      </div>
    </div>
</section>
    

<%- include("partials/footer") %>
